.App {
  text-align: center;
}

.ToggleButton {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid black;
  padding: 8px;
  cursor: pointer;
}

.ToggleButtonRed {
  background-color: red;
}

.App button {
  background-color: blue;
  color: white;
  font: inherit;
  border: 1px solid black;
  padding: 8px;
  cursor: pointer;
}

.App button:hover {
  background-color: red;
}

